In [1]:
myfirstlist = [24,13,25,34,43,45,44,23,24]

In [3]:
type(myfirstlist)

list

In [4]:
mysecondlist = ['A','B','C',23,34,33]

In [5]:
mysecondlist

['A', 'B', 'C', 23, 34, 33]

In [9]:
myfirstlist[4]

43

In [8]:
myfirstlist[4:7]

[43, 45, 44]

In [10]:
myfirstlist[:6]

[24, 13, 25, 34, 43, 45]

In [12]:
myfirstlist[-1]

24

In [ ]:
myfirstlist = [24,13,25,34,43,45,44,23,24]

In [28]:
myfirstlist[-1:-7:-1]

[24, 23, 44, 45, 43, 34]

In [34]:
myfirstlist[-1:-7:-2]

[24, 44, 43]

In [35]:
myfirstlist[1:7:2]

[13, 34, 45]

In [25]:
myfirstlist[-4:10000]

[45, 44, 23, 24]

In [26]:
print(myfirstlist)

[24, 13, 25, 34, 43, 45, 44, 23, 24]

In [38]:
myfirstlist[0:8:1]

[24, 13, 25, 34, 43, 45, 44, 23]

In [39]:
languages = [['English'],['Gujrati'],['Hindi'], 'Romanian','Spanish']

In [41]:
type(languages)

list

In [43]:
type(languages[3])

str

In [44]:
languages=[('English','Hindi'), 'Gujrati',' Spanish']

In [46]:
type(languages[1])

str

In [48]:
myfirstlist[3]=36

In [49]:
myfirstlist

[24, 13, 25, 36, 43, 45, 44, 23, 24]

In [50]:
del myfirstlist[6:9]

In [52]:
del myfirstlist

In [53]:
myfirstlist

NameError: name 'myfirstlist' is not defined

In [54]:
grocery_list = [['Caramel','P&B','Jelly'], ['Onions','Potetoes'],['Flour','Oil']]

In [55]:
grocery_list

[['Caramel', 'P&B', 'Jelly'], ['Onions', 'Potetoes'], ['Flour', 'Oil']]

In [57]:
grocery_list[0][1]

'P&B'

In [58]:
a = [ [ [1,2],[3,4],5],[6,7] ]

In [67]:
a[0][1][1]

4

In [68]:
a,b = [3,1,2],[4,5,6]

In [69]:
a

[3, 1, 2]

In [70]:
b

[4, 5, 6]

In [71]:
a+b

[3, 1, 2, 4, 5, 6]

In [72]:
a*3

[3, 1, 2, 3, 1, 2, 3, 1, 2]

In [73]:
#Membership
a

[3, 1, 2]

In [74]:
4 in a

False

In [75]:
4 not in a

True

In [78]:
a**2

TypeError: unsupported operand type(s) for ** or pow(): 'list' and 'int'

In [80]:
mysecondlist.append('Edureka')

In [82]:
mysecondlist.insert(3,'Edureka')

In [84]:
del mysecondlist[7]

In [86]:
myfirstlist = mysecondlist.copy()

In [87]:
myfirstlist

['A', 'B', 'C', 'Edureka', 23, 34, 33]

In [88]:
mysecondlist.clear()

In [91]:
myfirstlist.remove('Edureka')

In [93]:
myfirstlist.pop(3)

23

In [94]:
myfirstlist

['A', 'B', 'C', 34, 33]

In [95]:
myfirstlist = [12,21,11,23,24,21,22,21]

In [96]:
myfirstlist.sort()

In [98]:
myfirstlist.reverse()

In [99]:
myfirstlist

[24, 23, 22, 21, 21, 21, 12, 11]

In [100]:
max(myfirstlist)

24

In [101]:
min(myfirstlist)

11

In [102]:
sum(myfirstlist)

155

In [111]:
mylist = ['Salma', 'Rahul', 'Rajan']

In [112]:
min(mylist)

'Rahul'

In [113]:
#Tuples

In [114]:
myfirsttuple =(21,23,24,22,21,23,24,25,26)

In [116]:
type(myfirsttuple)

tuple

In [117]:
myfirsttuple[0]=22

TypeError: 'tuple' object does not support item assignment

In [119]:
myfirstlist[0]=100

In [120]:
myfirstlist

[100, 23, 22, 21, 21, 21, 12, 11]

In [121]:
myfirsttuple

(21, 23, 24, 22, 21, 23, 24, 25, 26)

In [125]:
sales_list = (2323,2232,2222,3233)
profit_list = (232,224,333,333)

In [128]:
profitratio=[]
for i in range(0,len(sales_list)):
    profitratio.append(profit_list[i]/sales_list[i])
print(profitratio)

[0.09987085665088248, 0.1003584229390681, 0.14986498649864988, 0.10300030931023817]

In [130]:
myfirsttuple.count(21)

2

In [132]:
myfirsttuple.index(21)

0

In [133]:
len(myfirsttuple)

9

In [134]:
percentages = 45, 85,75,90,65,78,100

In [135]:
type(percentages)

tuple

In [136]:
percentages = (45, 85,75,90,65,78,100)

In [137]:
a,b,c,d,e,f,g=percentages

In [138]:
a

45

In [144]:
a=(1)

In [145]:
a

1

In [140]:
type(a)

int

In [141]:
a=(1,)

In [142]:
type(a)

tuple

In [143]:
a

(1,)

In [146]:
a=[1]

In [147]:
type(a)

list

In [162]:
percentages = (45, 85,75,90,65,78,100)

In [150]:
percentages[:4]

(45, 85, 75, 90)

In [151]:
percentages[4:]

(65, 78, 100)

In [155]:
percentages[2:2:-1]

()

In [153]:
percentages[:-2]

(45, 85, 75, 90, 65)

In [154]:
percentages[-2:]

(78, 100)

In [156]:
percentages[2:-2]

(75, 90, 65)

In [158]:
percentages[-2:2:-1]

(78, 65, 90)

In [160]:
del myfirsttuple[0:4]

TypeError: 'tuple' object does not support item deletion

In [161]:
del myfirsttuple

In [163]:
mytuple = (1,2,3,[4,5,6])

In [165]:
type(mytuple[3])

list

In [176]:
mytuple

(1, 2, 3, ['', 5, 6])

In [175]:
mytuple[3][0]=''

In [171]:
mytuple[3]=3

TypeError: 'tuple' object does not support item assignment

In [172]:
type(mytuple)

tuple

In [177]:
len(mytuple)

4

In [178]:
max(mytuple)

TypeError: '>' not supported between instances of 'list' and 'int'

In [179]:
percentages

(45, 85, 75, 90, 65, 78, 100)

In [180]:
max(percentages)

100

In [181]:
min(percentages)

45

In [182]:
sum(percentages)

538

In [183]:
list1 = [1,2,3]

In [185]:
type(tuple(list1))

tuple

In [187]:
percentages

(45, 85, 75, 90, 65, 78, 100)

In [188]:
45 in percentages

True

In [189]:
120 in percentages

False

In [190]:
(1,2,3)+ (4,5,6)

(1, 2, 3, 4, 5, 6)

In [191]:
a = ((1,2,3),(4,(5,6)))

In [196]:
a[1][1][0]

5

In [197]:
#Dictionary

In [198]:
myfirstdict = {'CustomerName':'Ruby Patel', "Order Id": 'BN-2019-123445', 'Segment':'Python'}

In [200]:
myfirstdict['Segment']

'Python'

In [202]:
myfirstdict['Region']='North'

In [203]:
myfirstdict

{'CustomerName': 'Ruby Patel',
 'Order Id': 'BN-2019-123445',
 'Segment': 'Python',
 'Region': 'North'}

In [204]:
len(myfirstdict)

4

In [206]:
myfirstdict.pop('CustomerName')

'Ruby Patel'

In [208]:
myfirstdict['OID'] = myfirstdict.pop('Order Id')

In [213]:
myfirstdict['Tableau'] = myfirstdict.pop('Python')

KeyError: 'Python'

In [209]:
myfirstdict

{'Segment': 'Python', 'Region': 'North', 'OID': 'BN-2019-123445'}

In [210]:
myfirstdict['Region']='South'

In [212]:
type(myfirstdict)

dict

In [216]:
dict1 = {1:'A', 'B':[2,3,4,5,6]}

In [218]:
dict1['B']

[2, 3, 4, 5, 6]

In [219]:
dict(([1,2],[2,4],[3,6]))

{1: 2, 2: 4, 3: 6}

In [222]:
dict2 = dict(([1,2],[2,4],[3,6]))

In [223]:
dict2

{1: 2, 2: 4, 3: 6}

In [226]:
dict3 = {1:2,1:3,1:1,2:4}

In [227]:
dict3

{1: 1, 2: 4}

In [228]:
mydict1 = {}

In [229]:
type(mydict1)

dict

In [230]:
mydict1[1]='Dog'

In [232]:
mydict1['B']='Cat'

In [233]:
mydict1

{1: 'Dog', 'B': 'Cat'}

In [235]:
myfirstdict['Region']

'South'

In [236]:
del dict1

In [238]:
myfirstdict.keys()

dict_keys(['Segment', 'Region', 'OID'])

In [239]:
myfirstdict.values()

dict_values(['Python', 'South', 'BN-2019-123445'])

In [241]:
mydict1.popitem()

('B', 'Cat')

In [242]:
mydict1

{1: 'Dog'}

In [243]:
myfirstdict

{'Segment': 'Python', 'Region': 'South', 'OID': 'BN-2019-123445'}

In [245]:
mynewdict = myfirstdict.fromkeys({'Segment','Region','OID'},0)

In [247]:
mynewdict['Segment']='Tableau'

In [248]:
mynewdict

{'Segment': 'Tableau', 'OID': 0, 'Region': 0}

In [259]:
dict1 = {1:1,2:5}
dict2 = {4:2,3:3}

In [260]:
dict1.update(dict2)

In [261]:
dict1

{1: 1, 2: 5, 4: 2, 3: 3}

In [252]:
dict1

{1: 1, 2: 2, 3: 3}

In [263]:
4 in dict1

True

In [264]:
dict1 = {4:{1:2,2:4},8:16}

In [268]:
dict1[4][2]

4

In [269]:
#Sets

In [270]:
myfirstset = {1,2,2,2,3,3,3,3,4,4,4,4,5,5,5,6,7}

In [271]:
myfirstset

{1, 2, 3, 4, 5, 6, 7}

In [272]:
myfirstset[3]

TypeError: 'set' object does not support indexing

In [273]:
myfirstset.add(30)

In [275]:
myfirstset.update([34,34,44,44,45])

In [277]:
myfirstset.update((45,46,46))

In [281]:
myfirstset.remove(7)

KeyError: 7

In [293]:
myfirstset.discard(6)

In [283]:
myfirstset

{1, 2, 3, 4, 5, 30, 34, 44, 45, 46}

In [324]:
mylist =(-1,1,1,2,3,4,5,5,'A')

In [325]:
myset = set(mylist)

In [310]:
myset

{-1, 1, 2, 3, 4, 5, 'A'}

In [304]:
myset.pop()

1

In [306]:
myset.pop()

2

In [311]:
myset.pop(5)

TypeError: pop() takes no arguments (1 given)

In [312]:
len(myset)

7

In [321]:
myset.pop()

KeyError: 'pop from an empty set'

In [327]:
myset.clear()

In [328]:
myset

set()

In [329]:
myset = {[1,2,3],4}

TypeError: unhashable type: 'list'

In [333]:
myset = {{1,2,3},4}

TypeError: unhashable type: 'set'

In [331]:
myset = {(1,2,3),4}

In [338]:
myset = {1,2,3,4,5}

In [337]:
myset1 = {3,4,5,6,7}

In [339]:
myset.union(myset1)

{1, 2, 3, 4, 5, 6, 7}

In [340]:
myset.intersection(myset1)

{3, 4, 5}

In [342]:
myset1.difference(myset)

{6, 7}

In [343]:
for i in {1,2,3}:
    print(i)

1
2
3

In [345]:
10 in myset1

False

In [354]:
3 != myset1

True

In [348]:
max(myset1)

7

In [349]:
min(myset1)

3

In [350]:
sum(myset1)

25

In [359]:
myset1.pop()

4

In [357]:
myset1

{4, 5, 6, 7}